@font-face {
            font-family: digital7; /* set name */
            src: url(led.ttf); /* url of the font */
        }
        html,
        body {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-color: grey;
        }
         #middle {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            background-color: blue;
            font: "digital7";
        }
        #mycanvas {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font: "digital7";
        }
